.header {
  min-height: 91px;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFBFB;
  border-bottom: 1px solid #DBDDE0;

  .role {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: baseline;

    .title {
      font-size: 22px;
      font-weight: 400;
      line-height: 26.07px;
      color: #262729;
    }

    .value {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.96px;
      color: #5E92FC;
    }
  }
}

.content {
  padding: 0 24px;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;

    thead tr {
      border-bottom: 1px solid #9EA1A8;

      th {
        padding: 16px 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.22px;
        color: #262729;
        text-align: left;
      }
    }

    tbody tr {
      border-bottom: 1px solid #DBDDE0;

      td {
        padding: 8px 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.22px;
        text-align: left;
        color: #3D3F42;

        &.action-buttons {
          display: flex;
          flex-direction: row;
          column-gap: 8px;
        }
      }
    }
  }
}