<header class="topbar">
  <div class="statistic">
    <div *ngIf="!(leftMenuService.showMenu$ | async)" class="section toggle">
      <img (click)="onToggleClick()" ngSrc="./assets/icons/toggle.svg" alt="Menu toggle" width="24" height="24">
    </div>
    <div class="section">
      <div class="title">Zlecenia</div>
      <div class="value">245</div>
    </div>
    <div class="section">
      <div class="title">depozyty</div>
      <div class="value">245</div>
    </div>
    <div class="section">
      <div class="title">zamówienia</div>
      <div class="value">245</div>
    </div>
  </div>

  <div class="topbar-controls">
    <div class="notifications">
      <div class="toggle">
        <img ngSrc="./assets/icons/bell-badge.svg" alt="Notification bell" width="40" height="40">
      </div>
    </div>
    <div class="profile">
      <div class="icon"></div>
      <div class="name"></div>
      <div class="arrow"></div>
    </div>
  </div>
</header>